<div >
    <form class="px-4 py-3" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="exampleDropdownFormEmail1">Email address</label>
        <input type="text" class="form-control" id="exampleDropdownFormEmail1" name="username" [(ngModel)]="credential.usn">
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormPassword1">Password</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" name="password" [(ngModel)]="credential.pwd">
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
   
</div>

